<% content_for :head do %>
  <meta property="og:image" content="<%= image_url('team.jpg') %>"/>
<% end %>

<div class="container center">
  <div class="about">
    <h3 class="section-header">About us</h3>
    <%= image_tag("radishes.png") %>
    <p>Squirrelicious grew out of a burgeoning movement dedicated to quality, locally-sourced ingredients and a desire to achieve greater harmony & sustainability with the urban environment.</p>
  </div>

  <div class="team">
    <h3 class="section-header">Our team</h3>
    <div class="row">
      <div class="col-sm-4 bio">
        <%= image_tag("bio-reiser.jpg") %>
        <h4>Senior General Specialist</h4>
      </div>
      <div class="col-sm-4 bio">
        <%= image_tag("bio-blair.jpg") %>
        <h4>Director of Community Engagement</h4>
      </div>
      <div class="col-sm-4 bio">
        <%= image_tag("bio-reuse-2.jpg") %>
        <h4>Chief of Business Development & Emerging Markets</h4>
        <p></p>
      </div>
      <div class="col-sm-4 bio">
        <%= image_tag("bio-reuse-8.jpg") %>
        <h4>Senior Executive Squirrelvangelist</h4>
        <p></p>
      </div>
      <div class="col-sm-4 bio">
        <%= image_tag("bio-reuse-9.jpg") %>
        <h4>Executive Culinary Inspiration Officer</h4>
        <p></p>
      </div>
      <div class="col-sm-4 bio">
        <%= image_tag("bio-rose.jpg") %>
        <h4>Chief Digital Officer</h4>
        <p></p>
      </div>
      <div class="col-sm-4 bio">
        <%= image_tag("bio-reuse-3.jpg") %>
        <h4>Senior Sustainability Officer</h4>
        <p></p>
      </div>
      <div class="col-sm-4 bio">
        <%= image_tag("bio-reuse-12.jpg") %>
        <h4>Deputy Regional Director for Latin America & the Caribbean</h4>
        <p></p>
      </div>
      <div class="col-sm-4 bio">
        <%= image_tag("bio-reuse-1.jpg") %>
        <h4>Senior Vice President of Grilling</h4>
        <p></p>
      </div>
    </div>
    <br><br>
</div>
