<% content_for :head do %>
  <meta property="og:image" content="<%= image_url('gear.jpg') %>"/>
<% end %>

<div class="container">
  <div class="gear-header center">
    <h1>Squirrelicious Swag</h1>
    <h4>Don't get caught underdressed.</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag("apron.png", class: "item") %>
      <div class="item-details center">
        <p class="name">Apron</p>
        <span class="price">$23</span>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag("bib.png", class: "item") %>
      <div class="item-details center">
        <p class="name">Classic Bib</p>
        <span class="price">$8</span>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag("go_nuts_bib.png", class: "item") %>
      <div class="item-details center">
        <p class="name">Go Nuts Bib</p>
        <span class="price">$8</span>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag("grilling_hat.png", class: "item") %>
      <div class="item-details center">
        <p class="name">Winter Grilling Hat</p>
        <span class="price">$28</span>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag("satchel_tail.png", class: "item") %>
      <div class="item-details center">
        <p class="name">Squirrel Satchel</p>
        <span class="price">$7</span>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag("onesie.png", class: "item") %>
      <div class="item-details center">
        <p class="name">Baby's First Roast Onesie</p>
        <span class="price">$13</span>
      </div>
    </div>
  </div>
</div>
<br><br>