<!DOCTYPE html>
<html>
<head>
  <title>Squirrelicious</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="<%= asset_path("favicon.png")%>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render "layouts/header" %>

<div id="content">
<%= yield %>
</div>
</body>
</html>
